body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e2f;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 80px 40px;
    border: 1px solid #ccc;
    border-radius: 12px;
}
#count{

    font-size: 100px;
    font-weight: bold;
    padding: 30px;
}
#buttons{
    display: flex;
    flex-direction: row;
}
.buttons{
    padding: 10px 80px;
    margin-right:5px ;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 8px;
    font-size: medium;
}